@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Hoop Camps United is the official site for locating the nation's top teir camps, which provide maximum exposure to kids across the country. Not only are these camps sponsored and well organized, they are set up to allow athletes to showcase their ability against some of the best competition in their selective area. On our site you will be able to locate a camp, see how previous attendies of the camp enjoyed their experience, and even log your own ratings and information to help give future visitors an inside scoop on camps they may have interest in.</p>
